<!--Herramientas necesarias -->
<div class="relative py-3 lg:py-3 px-2" id="herramientas-necesarias">
    <div class="space-y-4">
        <h2 class="text-2xl font-bold text-gray-800">
            Herramientas necesarias para tu alisado
        </h2>
        <p class="text-gray-600">
            Ahora vamos a conocer las mejores herramientas para comenzar en el
            mundo de los alisados.
        </p>

        <img
            class="rounded-md"
            src="https://media.wapastudio.com/herramientas-manual.webp"
            alt=""
        />

        <div class="space-y-4" id="dropdown-container-16">
            <!-- Dropdown personalizado 1 -->
            <div class="nested-dropdown parent rounded-lg">
                <div
                    class="px-4 nested-summary flex items-center justify-between cursor-pointer text-lg font-semibold py-3 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                    tabindex="0"
                    data-dropdown="plancha"
                >
                    <span>1. Plancha Semi Profesional</span>
                    <svg
                        class="nested-angle w-5 h-5 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            d="M8 5l8 7-8 7"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div
                    class="nested-content mt-2 text-gray-600 space-y-4"
                    data-content="plancha"
                >
                    <p>
                        La plancha es de vital importancia, es una de nuestras
                        herramientas principales
                    </p>
                    <p>
                        Tu plancha debe alcanzar los 450 F - 480 F. Es vital que
                        llegue a esa temperatura ya que el tratamiento es
                        sellado con calor. Una plancha convencional NO
                        funcionará.
                    </p>
                    <p>
                        Existen las planchas con placas de titanio y de
                        cerámica. A continuación te compartiremos las
                        características de cada una:
                    </p>
                    <img
                        src="https://media.wapastudio.com/plancha-diferencias-manual.jpg"
                        alt=""
                    />
                    <p>
                        Existe una variante de placas del titanio que es el
                        titanio negro la cual es una variante mejorada del
                        titanio tradicional porque tiene un recubrimiento
                        adicional que mejora el deslizamiento y reduce el daño
                        en el cabello. Aquí te dejo sus ventajas:
                    </p>
                    <ul class="list-disc pl-5">
                        <li>
                            <b>Mayor resistencia y durabilidad 🏆</b>
                            Es más fuerte que el titanio normal y resiste mejor los
                            químicos de los tratamientos de alisado, así como también
                            con el uso las placas no se desgastan con el roce.
                        </li>
                        <li>
                            <b>Menos fricción y daño 💆‍♀️</b>
                            Su superficie es más suave, lo que evita jalones y quiebres
                            en el cabello.
                        </li>
                        <li>
                            <b>Mayor generación de iones negativos</b>
                            Reduce más el frizz y sella mejor la cutícula para un
                            acabado más brillante.
                        </li>
                        <li>
                            <b>Distribución de calor mejorada 🔥</b>
                            Se calienta rápido y mantiene una temperatura estable,
                            lo que permite alisar con menos pasadas.
                        </li>
                    </ul>
                    <div id="dropdown-container-14" class="space-y-2">
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="titanio-negro"
                            >
                                <span>Marcas recomendadas de Titanio Negro</span
                                >
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="titanio-negro"
                            >
                                <ul class="list-disc p-4">
                                    <li>
                                        Babyliss Pro Nano Titanium Black ---
                                        $3500
                                    </li>
                                    <li>Broone --- $3100</li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="titanio"
                            >
                                <span>Marcas recomendadas de Titanio</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="titanio"
                            >
                                <ul class="list-disc p-4">
                                    <li>Babyliss</li>
                                    <li>Lizze Extreme</li>
                                    <li>Horacio Lares</li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="ceramica"
                            >
                                <span>Marcas recomendadas de Cerámica</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="ceramica"
                            >
                                <ul class="list-disc p-4">
                                    <li>Babyliss</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dropdown personalizado 2 -->
            <div class="nested-dropdown parent rounded-lg">
                <div
                    class="px-4 nested-summary flex items-center justify-between cursor-pointer text-lg font-semibold py-3 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                    tabindex="0"
                    data-dropdown="secadora"
                >
                    <span>2. Secadora profesional</span>
                    <svg
                        class="nested-angle w-5 h-5 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            d="M8 5l8 7-8 7"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div
                    class="nested-content mt-2 text-gray-600 space-y-4"
                    data-content="secadora"
                >
                    <p>
                        Necesitas una secadora potente con tecnología iónica y
                        control de temperatura. Esto asegura que el cabello
                        quede completamente seco antes de aplicar la plancha,
                        evitando daños y mejorando la duración del tratamiento.
                    </p>
                    <p>
                        🔥 Características clave en una secadora para alisados:
                    </p>
                    <div id="dropdown-container-15" class="space-y-2">
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="potencia"
                            >
                                <span>Potencia de 1800 W - 2000W ⚡</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="potencia"
                            >
                                <ul class="list-disc pl-5">
                                    <li>
                                        Cuanto más potente, más rápido seca el
                                        cabello sin sobrecalentarlo.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="ionica"
                            >
                                <span>Tecnología iónica 💨</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="ionica"
                            >
                                <ul class="list-disc pl-5">
                                    <li>
                                        Reduce el frizz y sella la cutícula,
                                        dejando el cabello más brillante y
                                        manejable
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="control"
                            >
                                <span
                                    >Control de temperatura y velocidad 🎛️</span
                                >
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="control"
                            >
                                <ul class="list-disc pl-5">
                                    <li>
                                        Permite ajustar el calor según el tipo
                                        de cabello. Debe contar con dos
                                        velocidades y tres ajustes de calor
                                    </li>
                                    <li>Botón de aire frío</li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="boquilla"
                            >
                                <span>Boquilla concentradora 🎯</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="boquilla"
                            >
                                <ul class="list-disc pl-5">
                                    <li>
                                        Dirige el aire para alisar mejor con el
                                        cepillo, evitando el encrespamiento.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="ergonomico"
                            >
                                <span>Peso ligero y ergonómico 🤲</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="ergonomico"
                            >
                                <ul class="list-disc pl-5">
                                    <li>
                                        Para mayor comodidad si trabajas largas
                                        jornadas.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="mejores"
                            >
                                <span
                                    >🔝 Mejores secadoras para alisados
                                    profesionales</span
                                >
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="mejores"
                            >
                                <ul class="list-disc pl-5">
                                    <li>
                                        Babyliss Pro Rapido 2000W – Súper
                                        potente y ligera, con tecnología Nano
                                        Titanium.
                                    </li>
                                    <li>
                                        Lizze Secadora de cabello Extreme, 2400W
                                        - Alta resistencia al calentamiento
                                    </li>
                                    <li>
                                        Noir Hair Dryer 1875W- Muy resistente,
                                        con tecnología iónica
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dropdown personalizado 3 -->
            <div class="nested-dropdown parent rounded-lg">
                <div
                    class="px-4 nested-summary flex items-center justify-between cursor-pointer text-lg font-semibold py-3 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                    tabindex="0"
                    data-dropdown="accesorios"
                >
                    <span>3. Accesorios</span>
                    <svg
                        class="nested-angle w-5 h-5 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            d="M8 5l8 7-8 7"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div
                    class="nested-content mt-2 text-gray-600 space-y-4"
                    data-content="accesorios"
                >
                    <div id="dropdown-container-18" class="space-y-2">
                        <!-- Cada accesorio como dropdown personalizado -->
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="cepillo"
                            >
                                <span>Cepillo cuadrado</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="cepillo"
                            >
                                <p>
                                    Será vital al principio de la aplicación. Al
                                    ser cuadrado cepilla más cantidad de
                                    cabello, ayudándote con los tiempos durante
                                    el proceso.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/cepillo-cuadrado-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="peine-cola"
                            >
                                <span>Peine de plástico de cola</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="peine-cola"
                            >
                                <p>
                                    Te ayudará con la aplicación del producto.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/peine-cola-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="peine-carbono"
                            >
                                <span>Peine de carbono</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="peine-carbono"
                            >
                                <p>
                                    Nuestro principal auxiliar para sellar el
                                    producto. Así como es vital que sea de
                                    carbono ya que evitaremos accidentes por el
                                    calor como que se derrita durante el
                                    proceso.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/peine-carbono-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="pinzas"
                            >
                                <span>Pinzas</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="pinzas"
                            >
                                <p>
                                    Serán tus auxiliares en todo el proceso de
                                    la aplicación para sostener el cabello.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/pinzas-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="aplicador"
                            >
                                <span>Aplicador</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="aplicador"
                            >
                                <p>
                                    Este nos ayudará a evitar que el producto se
                                    desperdicie y aplicarlo con mayor facilidad.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/aplicador-manual.png"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="guantes"
                            >
                                <span>Guantes de nitrilo</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="guantes"
                            >
                                <p>
                                    Son vitales para nuestro proceso de
                                    aplicación. NO puedes aplicar sin ellos.
                                    Asegúrate de que sean exactamente de
                                    nitrilo, ya que al ser de látex jalan el
                                    cabello de la clienta y hará el proceso sea
                                    incómodo y molesto.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/guantes-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="capa"
                            >
                                <span>Capa o media capa</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="capa"
                            >
                                <p>
                                    Evitará manchar la ropa o cuello de la
                                    clienta con el producto
                                </p>
                                <img
                                    src="https://media.wapastudio.com/capa-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="nested-dropdown child rounded-lg">
                            <div
                                class="px-3 nested-summary flex items-center justify-between cursor-pointer text-base font-semibold py-2 text-[#222] transition-colors duration-200 outline-none rounded-lg select-none"
                                tabindex="0"
                                data-dropdown="lavacabezas"
                            >
                                <span>Lava cabezas</span>
                                <svg
                                    class="nested-angle w-4 h-4 stroke-yellow-500 stroke-[2.5] flex-shrink-0 transition-transform duration-300"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 5l8 7-8 7"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div
                                class="nested-content mt-1 text-gray-600 space-y-2"
                                data-content="lavacabezas"
                            >
                                <p>
                                    El lavacabezas no es solo un accesorio, sino
                                    una herramienta esencial en los alisados.
                                    Con este nos ayudaremos para lavar el
                                    cabello previo al alisado Puedes comenzar
                                    con un lava cabezas portátil.
                                </p>
                                <img
                                    src="https://media.wapastudio.com/lavacabezas-manual.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .nested-content {
                overflow: hidden;
                transition:
                    max-height 0.4s ease,
                    opacity 0.3s ease;
                max-height: 0;
                opacity: 0;
            }

            .nested-dropdown.open .nested-content {
                opacity: 1;
            }

            .nested-summary {
                cursor: pointer;
                background: white;
                padding: 0.5rem 1rem;
                width: 100%;
                text-align: left;
            }

            .nested-summary:focus,
            .nested-summary:hover {
                color: #ca8a04;
                background: #fefaf3;
            }

            .nested-dropdown.open > .nested-summary {
                background: #fefaf3;
                /* box-shadow: 0 0 0 2px #fde68a; */ /* Quitar borde amarillo */
            }

            .nested-angle {
                float: right;
                transition: transform 0.3s;
            }
        </style>

        <script>
            // @ts-nocheck
            document.querySelectorAll(".nested-summary").forEach((summary) => {
                summary.addEventListener("click", () => {
                    const currentDropdown = summary.parentElement;
                    const parentContainer = currentDropdown.parentElement;

                    // Cierra todos los demás dropdowns
                    const siblingDropdowns = parentContainer.querySelectorAll(
                        ":scope > .nested-dropdown",
                    );

                    siblingDropdowns.forEach((dropdown) => {
                        if (dropdown !== currentDropdown) {
                            dropdown.classList.remove("open");
                            const icon =
                                dropdown.querySelector(".nested-angle");
                            if (icon) icon.style.transform = "rotate(0deg)";
                            const content =
                                dropdown.querySelector(".nested-content");
                            if (content) content.style.maxHeight = "0";
                        }
                    });

                    // Toggle el actual
                    currentDropdown.classList.toggle("open");
                    const angleIcon = summary.querySelector(".nested-angle");
                    const content =
                        currentDropdown.querySelector(".nested-content");

                    if (currentDropdown.classList.contains("open")) {
                        angleIcon.style.transform = "rotate(90deg)";
                        if (content) {
                            // Para evitar corte, primero lo ponemos sin altura para forzar reflow
                            content.style.maxHeight = "0"; // Reset
                            requestAnimationFrame(() => {
                                content.style.maxHeight = "4000px"; // o incluso 2000px si es muy largo
                            });
                        }
                    } else {
                        angleIcon.style.transform = "rotate(0deg)";
                        if (content) content.style.maxHeight = "0";
                    }
                });

                summary.addEventListener("keydown", (e) => {
                    if (e.key === "Enter" || e.key === " ") {
                        e.preventDefault();
                        summary.click();
                    }
                });
            });
        </script>
    </div>
   
</div>
