<!-- Productos --><!-- Sección de productos horizontal -->
<div class="max-w-screen-lg mx-auto px-2 pb-8" id="keratinas">
    <h2 class="text-2xl font-bold text-gray-800 mb-6" >
        Conoce nuestros productos
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 pb-10">
        <!-- Producto 1: Nanobotox -->
        <div class="bg-white rounded-xl border border-gray-300 hover:shadow-lg transition-shadow duration-300 flex flex-col h-[830px] sm:h-[730px] overflow-hidden p-0 m-0">
            <div class="w-full aspect-[4/3] bg-gray-100 flex items-center justify-center">
                <img
                    src="https://media.wapastudio.com/keratina-nanobotox-tienda-web.webp"
                    alt="Nanobotox"
                    class="w-full h-56 object-cover"
                />
            </div>
            <div class="flex flex-col justify-center p-6 h-full rounded-xl z-10 flex-1">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    Nanobotox
                </h3>
                <p class="text-sm text-gray-600 mb-4">
                   Para cabello muy maltratado, deshidratado y para relajar ondas.
                </p>
                <ul class="text-sm text-gray-600 mb-4 list-disc pl-5">
                    <li>Duración de 4 a 6 meses</li>
                    <li>Alisa 70% a 90%</li>
                    <li>Lavado en 8 Hrs</li>
                    <li>Hidrata</li>
                    <li>Elimina el Frizz</li>
                    <li>Aumenta el brillo</li>
                    <li>Aumenta sedosidad</li>
                    <li>Rinde de 18 a 20 aplicaciones</li>
                    <li>Ideal para decoloraciones de +4 semanas</li>
                    <li>Envíos a todo México desde $180 MXN</li>
                </ul>
                <div class="flex flex-col gap-2">
                  <a
                      href="https://wa.link/n3nnda"
                      class="inline-block px-4 py-2 bg-black text-white text-sm font-medium rounded text-center hover:bg-zinc-800"
                  >
                      Comprar
                  </a>
                  <span class="inline-block px-4 py-2 border border-black text-black text-sm font-medium rounded text-center">
                      $1,399 MXN
                  </span>
                  <span class="italic text-xs text-gray-500 text-left">
                      Incluye un litro de producto y 250 ml de neutralizador
                  </span>
                </div>
            </div>
        </div>

        <!-- Producto 2: Bioplastia -->
        <div class="bg-white rounded-xl border border-gray-300 hover:shadow-lg transition-shadow duration-300 flex flex-col h-[830px] sm:h-[730px] overflow-hidden p-0 m-0">
            <div class="w-full aspect-[4/3] bg-gray-100 flex items-center justify-center">
                <img
                    src="https://media.wapastudio.com/keratina-bioplastia-tienda-web.webp"
                    alt="Bioplastia"
                    class="w-full h-56 object-cover"
                />
            </div>
            <div class="flex flex-col justify-center p-6 h-full rounded-xl z-10 flex-1">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    Bioplastia
                </h3>
                <p class="text-sm text-gray-600 mb-4">
                   Para todo tipo de cabello sano. Incluso decolorado.
                </p>
                <ul class="text-sm text-gray-600 mb-4 list-disc pl-5">
                    <li>Duración de 4 a 6 meses</li>
                    <li>Alisa 95%</li>
                    <li>Lavado en 8 Hrs</li>
                    <li>Hidrata</li>
                    <li>Elimina el Frizz</li>
                    <li>Aumenta el brillo</li>
                    <li>Aumenta sedosidad</li>
                    <li>Rinde de 18 a 20 aplicaciones</li>
                    <li>Fomenta el crecimiento</li>
                    <li>Envíos a todo México desde $180 MXN</li>
                </ul>
                <div class="flex flex-col gap-2">
                  <a
                      href="https://wa.link/itzr9p"
                      class="inline-block px-4 py-2 bg-black text-white text-sm font-medium rounded text-center hover:bg-zinc-800"
                  >
                      Comprar
                  </a>
                  <span class="inline-block px-4 py-2 border border-black text-black text-sm font-medium rounded text-center">
                      $1,399 MXN
                  </span>
                  <span class="italic text-xs text-gray-500 text-left">
                      Incluye un litro de producto y 250 ml de neutralizador
                  </span>
                </div>
            </div>
        </div>

        <!-- Producto 3: Ultra Gold -->
        <div class="bg-white rounded-xl border border-gray-300 hover:shadow-lg transition-shadow duration-300 flex flex-col h-[830px] sm:h-[730px] overflow-hidden p-0 m-0">
            <div class="w-full aspect-[4/3] bg-gray-100 flex items-center justify-center">
                <img
                    src="https://media.wapastudio.com/keratina-ultra-gold-tienda-web.webp"
                    alt="Ultra Gold"
                    class="w-full h-56 object-cover"
                />
            </div>
            <div class="flex flex-col justify-center p-6 h-full rounded-xl z-10 flex-1">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    Ultra Gold
                </h3>
                <p class="text-sm text-gray-600 mb-4">
                   Para cabello ondulado, compatible con decoloraciones sanas. 
                </p>
                <ul class="text-sm text-gray-600 mb-4 list-disc pl-5">
                    <li>Duración de 4 a 6 meses</li>
                    <li>Alisa 98%</li>
                    <li>Lavado en 8 Hrs</li>
                    <li>Hidrata</li>
                    <li>Elimina el Frizz</li>
                    <li>Aumenta el brillo</li>
                    <li>Aumenta sedosidad</li>
                    <li>Rinde de 18 a 20 aplicaciones</li>
                    <li>Envíos a todo México desde $180 MXN</li>
                </ul>
                <div class="flex flex-col gap-2">
                  <a
                      href="https://wa.link/lkggjo"
                      class="inline-block px-4 py-2 bg-black text-white text-sm font-medium rounded text-center hover:bg-zinc-800"
                  >
                      Comprar
                  </a>
                  <span class="inline-block px-4 py-2 border border-black text-black text-sm font-medium rounded text-center">
                      $1,399 MXN
                  </span>
                  <span class="italic text-xs text-gray-500 text-left">
                      Incluye un litro de producto y 250 ml de neutralizador
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>
