---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Confirma tu correo"
    description="Confirma tu correo electrónico para poder iniciar sesión en tu cuenta."
    lightColor={true}
    isIndexable={false}
>
    <main class="bg-[#eeefeb] h-screen pt-10 flex justify-center items-center">
        <div
            class="max-w-md mx-4 ld:mx-auto bg-white rounded-lg shadow-md overflow-hidden"
        >
            <!-- Imagen -->
            <div
                class="h-48 bg-cover bg-center"
                style="background-image: url('https://media.wapastudio.com/mail-wapa.webp');"
            >
            </div>
            <!-- Contenido -->
            <div class="p-6 text-center">
                <h1 class="text-2xl font-semibold text-gray-700 mb-4">
                    Verifica tu correo
                </h1>
                <p class="text-lg text-gray-600 mb-4">
                    Por favor revisa tu bandeja de entrada y sigue las
                    instrucciones para verificar tu correo y poder iniciar
                    sesión.
                </p>
            </div>
        </div>
    </main>
</Layout>
