
---
import Layout from '../layouts/Layout.astro'; 
---

<Layout
    title="Lista de precios"
    description="Descubre los mejores servicios en wapa studio"
>
    <main
        class="py-20 bg-[#eeefeb] min-h-screen flex justify-center items-center"
    >
        <div
            class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md text-center"
        >
            <h1 class="text-2xl font-semibold text-gray-700 mb-4">
                Verifica tu correo
            </h1>
            <p class="text-lg text-gray-600 mb-4">
                Por favor revisa tu bandeja de entrada y sigue las instrucciones
                para verificar tu correo y poder iniciar sesión.
            </p>
        </div>
    </main>
</Layout>
