---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Lista de precios"
    description="Descubre los mejores servicios en wapa studio"
>
    <main
        class="py-20 bg-[#eeefeb] min-h-screen flex justify-center items-center"
    >
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">
                ¡Correo confirmado con éxito!
            </h1>
            <p class="text-center text-gray-600 mb-6">
                Tu correo electrónico ha sido confirmado con éxito. Ahora puedes
                iniciar sesión en tu cuenta
            </p>
            <div class="text-center">
                <a
                    href="/signin"
                    class="inline-block px-6 py-3 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 transition-colors"
                >
                    Iniciar sesión
                </a>
            </div>
        </div>
    </main>
</Layout>