---
import Layout from "../layouts/Layout.astro";
import Curso from "../components/home/curso.astro";
import Faq from "../components/curso-home/faq.astro";
---

<Layout title="" description="" lightColor={true}>
    <section>
        <Curso />
    </section>
    <section>
        <Faq />
    </section>
</Layout>
