---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Crear cuenta - Regístrate gratis y comienza a disfrutar de Wapa Academy"
  description="Únete hoy creando tu cuenta gratuita. Accede a nuestro manual de alisados y comienza a disfrutar de nuestra plataforma fácilmente."
  lightColor={true}
  isIndexable={true}
>
  <main
    class="py-20 bg-white md:bg-[#eeefeb] min-h-screen flex justify-center items-center"
  >
    <div
      class="bg-white mt-10 md:mt-0 p-8 rounded-lg md:shadow-md w-full max-w-md lg:max-w-4xl flex flex-col lg:flex-row"
    >
      <!-- Formulario -->
      <div class="w-full lg:w-1/2 md:p-8">
        <h1 class="text-2xl font-semibold text-center mb-4">Registrarse</h1>
        <p class="text-center text-sm mb-6">
          ¿Ya tienes una cuenta?
          <a href="/signin" class="text-[#917763] hover:underline"
            >Iniciar sesión</a
          >
        </p>

        <!-- Contenedor de errores -->
        <div id="error-message" class="hidden p-3 mb-4 rounded-md text-[#917763] bg-[#f5ebe6] text-sm transition-opacity duration-300"></div>
        <!-- Contenedor de error de contraseña -->
        <p id="password-error" class="hidden p-2 mb-4 rounded-md text-[#917763] bg-[#f5ebe6] text-sm transition-opacity duration-300"></p>

        <form action="/api/auth/register" method="post" class="space-y-6" id="register-form">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700"
              >Correo electrónico</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="w-full p-2 border border-gray-300 rounded-md focus:ring-[#6A5341]"
              required
            />
          </div>
          <div>
            <label
              for="full_name"
              class="block text-sm font-medium text-gray-700"
              >Nombre completo</label
            >
            <input
              type="text"
              name="full_name"
              id="full_name"
              class="w-full p-2 border border-gray-300 rounded-md focus:ring-[#6A5341]"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="block text-sm font-medium text-gray-700">Contraseña</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="w-full p-2 border border-gray-300 rounded-md focus:ring-[#6A5341]"
              required
            />
            <p class="italic text-xs text-gray-400">
              Contraseña: mínimo 8 caracteres, con mayúscula, minúscula, número
              y carácter especial.
            </p>
          </div>

          <div class="cf-turnstile" data-sitekey="0x4AAAAAAA1qFrAJc99AgS9n"></div>

          <button
            type="submit"
            class="w-full bg-[#917763] text-white py-2 rounded-md hover:bg-[#6A5341] focus:outline-none"
          >
            Registrarse
          </button>
        </form>
      </div>

      <!-- Imagen -->
      <div
        class="hidden lg:block w-full lg:w-1/2 bg-cover bg-center rounded-t-lg lg:rounded-l-lg lg:rounded-t-none"
        style="background-image: url('https://media.wapastudio.com/register-wapa-form.webp');"
      >
      </div>
    </div>
  </main>

  <!-- Script para validaciones de contraseña -->
  <script type="module">
    const form = document.getElementById("register-form");
    const passwordInput = document.getElementById("password");
    const passwordError = document.getElementById("password-error");

    // Validación de contraseña antes de enviar
    form.addEventListener("submit", (e) => {
      const password = passwordInput.value;
      const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;

      if (!regex.test(password)) {
        e.preventDefault(); // bloquea el envío
        passwordError.textContent = "Tu contraseña no cumple con los caracteres requeridos: mínimo 8, mayúscula, minúscula, número y carácter especial #$%&!";
        passwordError.classList.remove("hidden");

        // Ocultar después de 8 segundos
        setTimeout(() => {
          passwordError.classList.add("hidden");
        }, 8000);
      }
    });
  </script>
</Layout>
