---
import Layout from "../layouts/Layout.astro";
---

<Layout title="" description="" lightColor={true}>
    <section class="bg-white">
        <!-- Imagen de portada -->
        <div class="relative w-full h-[70vh]">
            <img
                src="https://media.wapastudio.com/wapa-shop-reduced-3.webp"
                alt="Portada principal"
                class="absolute inset-0 w-full h-full object-cover"
            />
            <div
                class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 text-center px-4"
            >
                <div class="lg:w-[50vw]">
                    <p class="text-white text-lg md:text-xl font-bold">
                        ✨ | Wapa Shop
                    </p>

                    <p
                        class="text-white text-center text-base md:text-lg mt-2 mx-12"
                    >
                        Descubre nuestra exclusiva selección de tratamientos
                        para lograr un cabello más suave, brillante y saludable
                        con los mejores productos.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full max-w-screen-lg md:mx-auto h-px bg-gray-200 mt-12">
        </div>

        <!-- Sección de productos -->
        <div class="max-w-screen-lg mx-auto py-12 px-4">
            <h2 class="text-2xl md:text-xl font-medium text-gray-800 mb-8">
                Nuestros Productos
            </h2>

            <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
                <!-- Producto 1 -->
                <div
                    class="bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300"
                >
                    <img
                        src="https://media.wapastudio.com/keratina-dashboard-tienda.webp"
                        alt="Semi Permanente"
                        class="w-full h-40 md:h-72 object-cover rounded-t-xl"
                    />
                    <div class="p-6">
                        <h3 class="text-xl font-semibold text-gray-900 mb-2">
                            Semi Permanente
                        </h3>
                        <p class="text-sm text-gray-600 mb-4">
                            Descubre nuestro tratamiento de semi permanente para
                            un cabello suave y brillante.
                        </p>
                        <a
                            href="/tienda/semipermanente"
                            class="inline-block px-4 py-2 bg-black text-white text-sm font-medium rounded hover:bg-black"
                        >
                            <span
                                class="relative z-10 hover:text-transparent bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:via-yellow-500 hover:to-yellow-600"
                            >
                                Ver más</span
                            >
                        </a>
                    </div>
                </div>
                <!-- Producto 2 -->
                <div
                    class="bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300"
                >
                    <img
                        src="https://media.wapastudio.com/keratina-dashboard-tienda.webp"
                        alt="Botox"
                        class="w-full h-40 md:h-72 object-cover rounded-t-xl"
                    />
                    <div class="p-6">
                        <h3 class="text-xl font-semibold text-gray-900 mb-2">
                            Encerado capilar
                        </h3>
                        <p class="text-sm text-gray-600 mb-4">
                            Nuestro tratamiento de botox capilar para un cabello
                            más saludable y rejuvenecido.
                        </p>
                        <a
                            href="/tienda/botox"
                            class="inline-block px-4 py-2 bg-black text-white text-sm font-medium rounded hover:bg-black relative overflow-hidden"
                        >
                            <span
                                class="relative z-10 hover:text-transparent bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:via-yellow-500 hover:to-yellow-600"
                            >
                                Ver más</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner promocional -->
        <div class="max-w-screen-lg mx-auto py-2 px-4">
            <div
                class="bg-black text-white rounded-lg p-6 flex flex-col md:flex-row md:items-center md:justify-between"
            >
                <div class="mb-4 md:w-2/3 md:mb-0">
                    <h3 class="text-xl font-bold">¿Quieres aprender más?</h3>
                    <p class="text-sm">
                        Descubre nuestro curso exclusivo para principiantes y
                        profesionales. Aprende las técnicas más avanzadas de
                        alisado y botox capilar.
                    </p>
                </div>
                <a
                    href="/tienda/botox"
                    class="px-6 inline-block py-3 text-center md:text-left bg-white text-black font-semibold text-sm rounded shadow hover:bg-gray-100"
                >
                    Ver curso
                </a>
            </div>
        </div>
    </section>
</Layout>
