<section
  class="relative rounded-lg text-center py-16 px-6 max-w-screen-lg mx-4 overflow-hidden"
  style="background-color: #eeefeb;"
>
  

  <!-- Contenido -->
  <div class="relative z-20 text-[#1a1a1a]">
    <h2 class="text-3xl md:text-4xl font-semibold">
      Lleva tus alisados al siguiente nivel
    </h2>
    <p class="text-lg md:text-xl mb-8 max-w-screen-sm mx-auto">
      Resultados profesionales, clientas felices y más ingresos con nuestras
      keratinas.
    </p>
    <a
      href="https://wa.me/5215524418067"
      target="_blank"
      class="inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300"
    >
      Cotiza vía WhatsApp
    </a>
  </div>
</section>
