---
import { supabase } from '../lib/supabase';

// Obtén al usuario autenticado
const {
  data: { user },
  error: userError,
} = await supabase.auth.getUser();

let cursosVinculados = [];

if (user) {
  // Consulta los cursos vinculados al usuario
  const { data: cursos, error: cursosError } = await supabase
    .from('usuarios_cursos')
    .select('curso_id, cursos(title, id, description)')
    .eq('usuario_id', user.id)
    .order('curso_id', { ascending: true });

  if (cursosError) {
    console.error('Error al obtener los cursos vinculados:', cursosError.message);
  } else {
    cursosVinculados = cursos.map((relacion) => relacion.cursos);
  }
} 
---

<h1 class="flex justify-center items-center">Tu Curso</h1>
<ul>
    {cursosVinculados?.map((curso) => (
      <li class="flex justify-center items-center">
        <a class="text-black cursor-pointer" href={`/cursos/alisados`}>
        <p>{curso.title}</p>
        <p>{curso.description}</p>
        <div>
            <img src='https://media.wapastudio.com/mail-brand.webp' alt="">
        </div>
        </a>
      </li>
    ))}
  </ul>
  
