---
import wapa from "../images/logotipo.png";
import wapablack from "../images/logotipo-black.png";

export interface Props {
    lightColor?: boolean;
}

const homePages = ["/", "/lista-de-precios"];
const isHomePage = homePages.includes(Astro.url.pathname);
---

<style>
    #closeButton {
        display: none;
    }

    #contenedor {
        height: 100vh;
        min-height: 100dvh;
        display: none;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        z-index: 50;
        background: rgba(254, 248, 242, 0.95); /* similar a bg-[#fef8f2]/95 */
        transition: all ease-in-out 300ms !important;
    }
    #contenedor.view {
        display: flex !important;
        opacity: 1 !important;
    }
    .view {
        opacity: 1 !important;
    }
</style>
<script>
    // @ts-ignore
    window.supabase = window.supabase || undefined;

    window.addEventListener("DOMContentLoaded", function () {
        const burgerButton = document.getElementById("burgerButton");
        const closeButton = document.getElementById("closeButton");
        const button = document.getElementById("buttonBurger");
        const contenedor = document.getElementById("contenedor");

        function toggleMenu() {
            if (!contenedor.classList.contains("view")) {
                contenedor.classList.add("view");
                closeButton.style.display = "block";
                burgerButton.style.display = "none";
            } else {
                contenedor.classList.remove("view");
                closeButton.style.display = "none";
                burgerButton.style.display = "block";
            }
        }

        button.addEventListener("click", toggleMenu);
        closeButton.addEventListener("click", toggleMenu);

        const logoutLink = document.getElementById("logout-link");
        logoutLink?.addEventListener("click", async function (e) {
            e.preventDefault();
            // @ts-ignore
            if (window.supabase && window.supabase.auth) {
                // @ts-ignore
                await window.supabase.auth.signOut();
            }
            window.location.href = "/api/auth/signout";
        });
    });
</script>

<nav
    class={`md:flex hidden md:justify-between md:items-center md:px-8 lg:px-20 w-full my-4 ${
        isHomePage ? "mx-auto absolute" : "bg-transparent backdrop-blur-md"
    }`}
>
    <div>
        <a href="/">
            <img
                class="w-32"
                src={Astro.props.lightColor ? wapablack.src : wapa.src}
                alt="Logotipo de wapa"
            />
        </a>
    </div>
    <div
        class:list={[
            "flex space-x-8 my-4",
            Astro.props.lightColor ? "text-black" : "text-white",
        ]}
    >
        <a
            class:list={[
                Astro.props.lightColor
                    ? "hover:text-yellow-600 focus:text-yellow-600"
                    : "hover:text-yellow-600 focus:text-yellow-600",
            ]}
            href="https://wa.me/5215524418067"
            aria-label="Lista de precios"
            class="flex items-center justify-center gap-1 group"
        >
            <svg
                class="w-5 h-5 transition-colors duration-200 group-hover:fill-yellow-600 group-focus:fill-yellow-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
            >
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                    d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                ></path></svg
            >
            <h3>Contactar</h3>
        </a>
        <a
            class:list={[
                "hidden",
                Astro.props.lightColor
                    ? "hover:text-yellow-600 focus:text-yellow-600"
                    : "hover:text-yellow-600 focus:text-yellow-600",
            ]}
            href=""
        >
            <h3>Blog</h3>
        </a>
        <a
            class:list={[
                Astro.props.lightColor
                    ? "hover:text-yellow-600 focus:text-yellow-600"
                    : "hover:text-yellow-600 focus:text-yellow-600",
            ]}
            id="logout-link"
            href="#"
        >
            <h3>Cerrar sesión</h3>
        </a>
    </div>
</nav>

<nav
    class={`"flex justify-between px-4"
    ${isHomePage ? "md:mx-auto absolute md:hidden w-full px-3 py-3" : "reltive md:hidden bg-transparent px-3 py-3"}`}
>
    <div class="relative flex justify-between w-full">
        <div>
            <a href="/">
                <img
                    class="w-24"
                    src={Astro.props.lightColor ? wapablack.src : wapa.src}
                    alt="Logotipo de wapa"
                />
            </a>
        </div>
        <div class="flex flex-col my-auto text-white">
            <button class="flex flex-col items-end" id="buttonBurger">
                <svg
                    aria-label="Abrir menú"
                    class:list={[
                        "w-5",
                        Astro.props.lightColor ? "fill-black" : "fill-white",
                    ]}
                    id="burgerButton"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                >
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                    ></path>
                </svg>
            </button>
            <div
                class="absolute inset-0 top-16 flex items-center justify-center w-full bg-[#fef8f2]/30 backdrop-blur-sm"
                id="contenedor"
            >
                <!-- Botón de cerrar menú flotante -->
                <button
                    id="closeButton"
                    aria-label="Cerrar menú"
                    class="absolute top-4 right-4 z-50 bg-white/80 rounded-full p-2 shadow"
                    style="display: none;"
                >
                    <svg
                        class:list={[
                            "w-6 h-6",
                            Astro.props.lightColor
                                ? "fill-black"
                                : "fill-slate-700",
                        ]}
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"
                    >
                        <path
                            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                        ></path>
                    </svg>
                </button>
                <div
                    class="wrapper flex flex-col justify-center space-y-6 items-center w-full p-4 text-black"
                    id="wrapper"
                >
                    <a
                        class="hover:text-yellow-600 focus:text-yellow-600 text-center text-xl flex items-center justify-center gap-1 group"
                        aria-label="WhatsApp"
                        href="https://wa.me/5215524418067"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg
                            class="w-5 h-5 transition-colors duration-200 group-hover:fill-yellow-600 group-focus:fill-yellow-600"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512"
                        >
                            <path
                                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                            ></path>
                        </svg>
                        <h3>Contactar</h3>
                    </a>
                    <a
                        class="hover:text-yellow-600 focus:text-yellow-600 text-center text-xl"
                        href="api/auth/signout"
                        aria-label="Lista de precios"
                        id="logout-link"
                    >
                        <h3>Cerrar sesión</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

