---
import wapa from "../images/logotipo.png";
import wapablack from "../images/logotipo-black.png";

export interface Props {
    lightColor?: boolean;
}

const homePages = ["/", "/lista-de-precios"];
const isHomePage = homePages.includes(Astro.url.pathname);
---

<style>
    .menuItems {
        position: absolute;
        top: 100%; /* justo debajo del contenedor padre */
        left: 0;
        right: 0;

        background: white;
        z-index: 60;

        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem;

        width: 100vw; /* ancho total del viewport */
        margin-left: calc(
            -1 * (100vw - 100%) / 2
        ); /* compensa padding para que quede alineado */

        box-sizing: border-box;

        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;

        transition:
            transform 0.3s ease,
            opacity 0.3s ease;
    }

    .showMenu {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
</style>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const burgerBtn = document.getElementById("hamburgerButton");
        const menu = document.getElementById("menuItems");
        const burgerIcon = document.getElementById("burgerIcon");
        const closeIcon = document.getElementById("closeIcon");

        let menuOpen = false;

        burgerBtn.addEventListener("click", () => {
            menuOpen = !menuOpen;

            if (menuOpen) {
                menu.classList.add("showMenu");
                burgerIcon.style.display = "none";
                closeIcon.style.display = "inline";
            } else {
                menu.classList.remove("showMenu");
                burgerIcon.style.display = "inline";
                closeIcon.style.display = "none";
            }
        });
    });
</script>

<nav
    class={`md:flex hidden md:justify-between md:items-center md:px-8 lg:px-20 w-full my-2 relative z-40 ${
        isHomePage ? "mx-auto absolute" : "bg-transparent backdrop-blur-md"
    }`}
>
    <div>
        <a href="/">
            <img
                class="w-32"
                src={Astro.props.lightColor ? wapablack.src : wapa.src}
                alt="Logotipo de wapa"
            />
        </a>
    </div>
    <div class="flex w-full items-center">
        <div
            class:list={[
                "flex space-x-10 my-4 flex-1 justify-end",
                Astro.props.lightColor ? "text-black" : "text-white",
            ]}
        >
            <a
                class:list={[
                    Astro.props.lightColor
                        ? "hover:text-yellow-600 focus:text-yellow-600"
                        : "hover:text-yellow-600 focus:text-yellow-600",
                ]}
                href="/blog"
                aria-label="Blog"
            >
                <h3>Blog</h3>
            </a>
            <a
                class:list={[
                    Astro.props.lightColor
                        ? "hover:text-yellow-600 focus:text-yellow-600"
                        : "hover:text-yellow-600 focus:text-yellow-600",
                ]}
                href="/asesoria"
                aria-label="Asesoria"
                class="flex items-center space-x-2"
            >
                <img
                    class="h-5"
                    src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/facebook-icon.svg"
                    alt="Logotipo de Facebook"
                />
                <h3>Asesoría publicitaria</h3>
            </a>
            <div class="h-6 w-[2px] bg-gray-200"></div>
            <a
                href="/signin"
                aria-label="Iniciar sesión"
                class="font-medium hover:text-yellow-600 transition-colors duration-200 text-gray-700 bg-white"
                style="margin-left:2rem;"
            >
                Iniciar sesión
            </a>
             <a
                href="/register"
                aria-label="Registrate"
                class="font-medium hover:text-yellow-600 transition-colors duration-200 text-gray-700 bg-white"
                style="margin-left:2rem;"
            >
                Registrate
            </a>
        </div>
    </div>
</nav>

<nav class="bgblack lg:hidden bg-white py-6 px-4 z-10">
    <div class="mx-auto flex justify-between items-center relative">
        <div>
            <a aria-label="Regresa al Home" href="/">
                <img
                    class="w-32"
                    src={wapablack.src}
                    alt="logotipo stroit surfaces"
                />
            </a>
        </div>

        <div>
            <button
                id="hamburgerButton"
                aria-label="Abrir menú"
                type="button"
                class="relative z-50"
            >
                <!-- Ícono hamburguesa visible al inicio -->
                <svg
                    id="burgerIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                    viewBox="0 0 448 512"
                    fill="black"
                    aria-hidden="true"
                >
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32
                C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32
                32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32
                32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                    ></path>
                </svg>

                <!-- Ícono cerrar oculto al inicio -->
                <svg
                    id="closeIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                    viewBox="0 0 384 512"
                    fill="black"
                    aria-hidden="true"
                    style="display:none"
                >
                    <path
                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3
                0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3
                0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5
                32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5
                12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    ></path>
                </svg>
            </button>
        </div>
        <ul id="menuItems" class="menuItems">
            <li class="principalli">
                <a href="/curso-alisados" class="block py-4 mb-2 border-b ">Curso de alisados</a>
            </li>
            <li class="principalli">
                <a href="/blog" class="block py-4 mb-2 border-b">Blog</a>
            </li>
            <li class="principalli">
                <a href="/asesoria" class="block py-4 mb-4  border-b">Asesoría publicitaria</a>
            </li>

            <li class="principalli">
                <a href="/signin" class="block py-4 bg-gray-200 text-center rounded-sm">Iniciar sesión</a>
            </li>
            <li class="principalli">
                <a href="/register" class="block py-4 mt-2 bg-gray-100 text-center rounded-sm">Registrate</a>
            </li>
        </ul>
    </div>
</nav>
