---
import hotmart from "../images/ebook/hotmart-logo-black.svg"
---
<section
  class="flex items-center justify-center min-h-[90vh] bg-cover bg-center px-4 text-center"
  style="background-image: url('https://media.wapastudio.com/fondo-nocompro-hotmart.webp');"
>
  <div class="max-w-sm mx-auto bg-white/90 backdrop-blur-sm p-8 py-7 rounded-xl shadow-md space-y-4 text-gray-800">
    <p class="text-base">
      Si ya compraste el curso en <span class="text-orange-600">Hotmart</span>
     
      o nuestras keratinas y no ves tu contenido...
    </p>

    <a
      href="https://wa.me/5215524418067"
      class="inline-block px-5 py-2 bg-[#25D366] text-white rounded-md text-sm font-semibold hover:bg-[#2b9b54] transition"
    >
      Escríbenos por WhatsApp
    </a>

    <p class="text-xs text-gray-600 leading-snug">
      📨 Recuerda enviarnos el <strong>correo con el que te registraste</strong>.
    </p>
  </div>
</section>
